.range-slider {
  display: flex;
  flex-direction: column;
  user-select: none;
  & *,
  & *::before,
  & *::after {
    box-sizing: border-box;
  }
  &__labels-container {
    position: relative;
  }
  &__slider {
    position: relative;
    z-index: 1;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &__track {
    position: relative;
    height: 6px;
    border-radius: 5px;
    background-color: rgba(crimson, 0.3);
    cursor: pointer;
    @media (hover: none) {
      cursor: auto;
    }
  }
  &__range {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: crimson;
    pointer-events: none;
    &_smooth-transition {
      transition:
        all 0.5s ease-in-out;
    }  
  }
  &__thumb {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: crimson;
    box-shadow: 0 0 0 0 rgba(crimson, 0.1);
    transition: 
      box-shadow 0.2s ease-in-out; 
    cursor: pointer;
    touch-action: none;
    &_smooth-transition {
      transition: 
        box-shadow 0.2s ease-in-out,
        left 0.5s ease-in-out,
        right 0.5s ease-in-out;
    }  
    &_left {
      transform: translateX(-50%);
    }
    &_right {
      transform: translateX(-50%);
    }
    &_hover {
      box-shadow: 0 0 0 5px rgba(crimson, 0.1);
    }
    &_active {
      box-shadow: 0 0 0 10px rgba(crimson, 0.2);
    }
  }
  &__min-max-label {
    background-color: slategrey;
    color: #fff;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 4px;
    transition: all 0.2s ease-in-out;
    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
  }
  &__value-label {
    display: inline-block;
    background-color: crimson;
    color: #fff;
    position: absolute;
    padding: 3px 5px;
    border-radius: 5px;
    bottom: 4px;
    white-space: nowrap;
    transform: translateX(-50%);
    &_smooth-transition {
      transition:
        left 0.8s cubic-bezier(0.79,0.14,0.15,0.86),
        right 0.8s cubic-bezier(0.79,0.14,0.15,0.86);
    }  
    &_common {
      opacity: 0;
    }
  }
  &__scale {
    position: relative;
    padding-top: 8px;
    display: flex;  
    cursor: pointer;
    @media (hover: none) {
      cursor: auto;
    }
    &-interval {
      border-right: 1px solid gray;
      height: 10px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      position: relative;
      &:first-child {
        border-left: 1px solid grey;
      }
      &-value {
        display: block;
        position: absolute;
        top: calc(100% + 3px);
        right: 0;
        transform: translateX(50%);
        font-size: 0.7rem;
        color: gray;
        &_min {
          left: 0;
          right: unset;
          transform: translateX(-50%);
        }
      }
    }
    &-mark {
      display: block;
      width: 1px;
      height: 4px;
      background-color: gray;
    }
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
  &__panel {
    margin-top: 10px;
  }
  &_vertical {
    height: 100%;
    min-height: 100px;
    flex-direction: row;
    .range-slider {
      &__slider {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: unset;
        padding-bottom: unset;
      }
      &__track {
        width: 6px;
        height: 100%;
      }
      &__range {
        top: unset;
        bottom: unset;
        left: 0;
        right: 0; 
      }
      &__thumb {
        top: unset;
        left: 0;
        transform: translateY(-50%);
        &_smooth-transition {
          transition: 
            box-shadow 0.2s ease-in-out,
            top 0.5s ease-in-out,
            bottom 0.5s ease-in-out;
        }
      }
      &__min-max-label {
        bottom: unset;
        right: 4px;
        &_left {
          left: unset;
          bottom: 0;
        }
        &_right {
          right: 4px;
          top: 0;
        }
      }
      &__value-label {
        bottom: unset;
        right: 4px;
        transform: translateY(-50%);
        &_smooth-transition {
          transition:
            top 0.8s cubic-bezier(0.79,0.14,0.15,0.86),
            bottom 0.8s cubic-bezier(0.79,0.14,0.15,0.86);
        }
      }
      &__scale {
        top: 0;
        padding-left: 8px;
        padding-top: unset;
        flex-direction: column-reverse;
        &-interval {
          border-right: unset;
          border-top: 1px solid gray;
          width: 10px;
          height: 100%;
          flex-direction: column-reverse;
          &:first-child {
            border-left: unset;
            border-bottom: 1px solid gray;
          }
          &-value {
            top: 0;
            left: calc(100% + 3px);
            margin-top: unset;
            right: unset;
            transform: translateY(-50%);
            &_min {
              left: calc(100% + 3px);
              right: unset;
              top: unset;
              bottom: 0;
              transform: translateY(50%);
            }
          }
        }
        &-mark {
          width: 4px;
          height: 1px;
        }
      }
      &__panel {
        margin: {
          top: 0;
          left: 10px;
        }
        width: 100%;
      } 
    }
  }
}

.panel {
  &__input {
    border: 1px solid gray;
    width: 100px;
    text-align: center;
    padding: 2px;
    &:disabled {
      border-color: lightgray;
    }
  }
  &__checkbox {
    width: auto;
    height: auto;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &__label {
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1fr auto;
    transition: all 0.2s;
    padding: 3px;
    padding-left: 5px;
    border-left: 2px solid transparent;
    &_for-checkbox {
      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid gray;
        background-color: #fff;
        transition: all 0.2s ease-in-out;
        grid-column: 2/3;
        text-align: center;
        line-height: 20px;
      }
      &_checked::after {
        content: '✓';
      }
    }
    &:hover {
      background-color: rgba(0,0,0,0.1);
      border-left-color: rgba(0,0,0,0.3);
    }
  }
}

